@keyframes upsize{
    from{
        height: 4.4vh;
        width: 2.3vw;
    }
    50%{
        height: 4.7vh;
        width: 2.6vw;
    }
    to{
        height: 4.4vh;
        width: 2.3vw;
    }
}
@keyframes animShow{
    from{
        top: 0vh;
    }
    60%{
        top: -55vh;
    }
    to{
        top: -50vh;
    }
}
@keyframes animHide{
    from{
        top: -50vh
    }
    to{
        top: 0vh;
    }
}